.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  margin-top: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0px 0px;
}

.App-link {
  color: #09d3ac;
  font-size: 20px;
}

#sponsor{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

#column1{
  display:flex;
  flex-direction:column;
}
#column2{
  display:flex;
  flex-direction:column;
}

.App-left {
  float: left;
  margin-right: 8px;
  background-color: transparent;
}
.App-right {
  margin-left: 108px;
  background-color: transparent;
}